<div class="container-fluid login-container">

    <div class="col-sm-6 hidden-xs left-side">
        <p class="subtitle">Faça login para acessar</p>
        <p class="title">Bet20days</p>
    </div>

    <div class="col-xs-12 col-sm-6 right-side">
        <form>
            <p class="subtitle">Faça login para acessar</p>
            <p class="title">Bet20days</p>
            <div class="form-group">
                <label for="username">Usuário</label>
                <input type="text" class="form-control" id="username">
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-success">Acessar</button>
        </form>
    </div>

</div>